<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Chuck Norris Jokes Hub{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body class="bg-white-100 h-screen antialiased leading-none font-sans">
            {% block header %}
                <header>
                    <nav
                            class="flex items-center justify-between shadow-xl flex-wrap p-6 fixed w-full z-10 top-0 bg-gray-600"
                            data-controller="nav-toggle"
                            data-action="click@window->nav-toggle#closeOnClickOutside">

                        <button
                                data-action="nav-toggle#toggle"
                                type="button"
                                class="block lg:hidden px-2 text-gray-300 transition transition-all hover:text-gray-100 focus:outline-none focus:text-gray-100">

                            <svg
                                    class="h-12 w-12 fill-current"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">

                                <path
                                        data-nav-toggle-target="closeIcon"
                                        class="hidden"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
                                />

                                <path
                                        data-nav-toggle-target="openIcon"
                                        fill-rule="evenodd"
                                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                                />
                            </svg>
                        </button>

                        <div
                                data-nav-toggle-target="menu"
                                class="w-full flex-grow hidden lg:flex lg:items-center lg:w-auto">

                            <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                                {% if app.user %}
                                <li class="mr-3">
                                    <a
                                            class="uppercase inline-block text-gray-100 font-bold no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="{{ path('app_joke') }}"
                                            data-action="nav-toggle#close">
                                            Jokes
                                    </a>
                                </li>
                                <li class="mr-3">
                                    <a
                                            class="uppercase inline-block text-gray-100 font-bold no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="{{ path('app_liked') }}"
                                            data-action="nav-toggle#close">
                                            Liked
                                    </a>
                                </li>
                                <li class="mr-3">
                                    <a
                                            class="uppercase inline-block text-gray-100 font-bold no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="{{ path('app_top_jokes') }}"
                                            data-action="nav-toggle#close">
                                            Top Jokes
                                    </a>
                                </li>
                                {% endif %}
                                <li class="mr-3">
                                    <a
                                            class="uppercase inline-block text-gray-100 font-bold no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
                                            href="/{{ app.user ? 'logout' : 'login'}}"
                                            data-action="nav-toggle#close">
                                            {% if app.user %}
                                               Chuckout
                                            {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                <footer class="border-t border-gray-300 bg-zinc-200 mt-20 fixed inset-x-0 bottom-0">
                    <p class="w-4/5 text-center py-4 m-auto text-sm text-gray-700 font-light whitespace-nowrap">
                        Chuckifier © {{ "now"|date("Y") }} All Rights Reserved
                    </p>
                </footer>
            {% endblock %}
    </body>
</html>
